@import 'tailwindcss';



  
  .bathroom-btn {
    margin: 5px;
    padding: 8px 14px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    min-width: 64px;
    font-size: 14px;
    transition: background-color 0.1s;
  }
  
  .bathroom-btn.selected {
    background-color: #d9ebfe;
    border-color: black;
  }
  
  .bathroom-btn:hover {
    background-color: #d9ebfe; /* color when mouse hovers */
  }
  .bhk-button {
    margin: 5px;
    padding: 8px 14px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    min-width: 64px;
    font-size: 14px;
    transition: background-color 0.1s, border-color 0.1s;
  }
  
  .bhk-button.selected {
    background-color: #d9ebfe;
    border-color: black;
  }
  
  .bhk-button:hover {
    background-color: #d9ebfe;
    
  }
  .lhk-button {
    margin: 5px;
    padding: 8px 14px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    min-width: 64px;
    font-size: 14px;
    transition: background-color 0.1s, border-color 0.1s;
  }
  
  .lhk-button.selected {
    background-color: #d9ebfe;
    border-color: black;
  }
  
  .lhk-button:hover {
    background-color: #d9ebfe;
    
  }
  .mhk-button {
    margin: 5px;
    padding: 8px 14px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    min-width: 64px;
    font-size: 14px;
    transition: background-color 0.1s, border-color 0.1s;
  }
  
  .mhk-button.selected {
    background-color: #d9ebfe;
    border-color: black;
  }
  
  .mhk-button:hover {
    background-color: #d9ebfe;
   
  }
  input:focus {
    outline: none; /* removes blue glow */
    border-color: #d9ebfe; /* black border on focus */
  }
  .zhk-button {
    margin: 5px;
    padding: 8px 14px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    min-width: 64px;
    font-size: 14px;
    transition: background-color 0.1s, border-color 0.1s;
  }
  
  .zhk-button.selected {
    background-color: #d9ebfe;
    border-color: black;
  }
  
  .zhk-button:hover {
    background-color: #d9ebfe;
    
  }
  .bn-button {
    margin: 5px;
    padding: 8px 14px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    min-width: 64px;
    font-size: 14px;
    transition: background-color 0.1s, border-color 0.1s;
  }
  
  .bn-button.selected {
    background-color: #d9ebfe;
    border-color: black;
  }
  
  .bn-button:hover {
    background-color: #d9ebfe;
   
  }
  
  .tt-button {
    margin: 5px;
    padding: 8px 14px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    min-width: 64px;
    font-size: 14px;
    transition: background-color 0.1s, border-color 0.1s;
  }
  
  .tt-button.selected {
    background-color: #d9ebfe;
    border-color: black;
  }
  
  .tt-button:hover {
    background-color: #d9ebfe;
   
  }
  input:focus {
    border: 2px solid #007bff; /* Blue border when input is focused */
    outline: none; /* Optional: remove default browser outline */
  }
  .custom-input{
  
  }
  .custom-input:focus {
    border: 1px solid #007bff; /* Change border color on focus */
    outline: none;
  }
  .rui-8kcgO{
    color: #ff2800;
    fill: #ff2800;
  }