@import 'tailwindcss';


html, body {
  scroll-behavior: smooth;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Force Toastify to appear above all elements */
.Toastify__toast-container {
  z-index: 9999 !important;
}


@layer utilities {
  .animate-spin-slow {
    animation: spin 12s linear infinite;
  }
}
.scrollbar{
    -ms-overflow-style:none;
  scrollbar-width:none;
}

.no-scroll {
  overflow: hidden;
}

@keyframes scrollX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-x {
  animation: scrollX 20s linear infinite;
}

.blink {
  animation: size 1s infinite alternate;
  transform-origin: center;
  width: 10px;
  height: 10px;
  box-shadow: 0 0 0 rgba(255, 0, 0, 0.7);
}

@keyframes size {
  0% {
    box-shadow: 0 0 0 rgba(255, 0, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 5px 3px rgba(255, 0, 0, 0.3);
  }
}