@import 'tailwindcss';


html, body {
  scroll-behavior: smooth;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Force Toastify to appear above all elements */
.Toastify__toast-container {
  z-index: 9999 !important;
}


@layer utilities {
  .animate-spin-slow {
    animation: spin 12s linear infinite;
  }
}
.scrollbar{
    -ms-overflow-style:none;
  scrollbar-width:none;
}

.no-scroll {
  overflow: hidden;
}